/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Gordita, sans-serif;
  color: var(--text-color);
  background: var(--body-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
}

button,
input,
textarea,
select {
  font-family: inherit;
  color: inherit;
}

.icon {
  filter: var(--icon-color);
}

.col, .row [class*=col-], .container-fluid, .container {
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid, .container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.row [class*=col-] {
  flex: 0 0 auto;
}

.col {
  flex: 1 0;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1370px;
  }
  .col-xxl-1 {
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
}
html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(649%) hue-rotate(223deg) brightness(120%) contrast(100%);
  --header-bg-color: #171C28;
  --body-bg-color: #292E39;
  --top-action-group-bg-color: #292E39;
  --top-action-group-shadow-color: rgba(0, 0, 0, 0.20);
  --top-action-group-seperate: #EDEDF6;
}

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(10%) saturate(4384%) hue-rotate(212deg) brightness(96%) contrast(95%);
  --header-bg-color: #eee;
  --body-bg-color: #fff;
  --top-action-group-bg-color: #fff;
  --top-action-group-shadow-color: rgba(237, 237, 246, 0.20);
  --top-action-group-seperate: #EDEDF6;
}
@media (max-width: 991.98px) {
  html {
    --header-bg-color: #fff;
    --body-bg-color: #eee;
  }
}

.top-act__btn, .top-act__group, .top-act, .navbar__list {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--header-bg-color);
}

.top-bar {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
@media (max-width: 991.98px) {
  .top-bar {
    padding: 20px 0;
  }
}
@media (max-width: 575.98px) {
  .top-bar {
    padding: 16px 0;
    justify-content: space-between;
  }
}
.top-bar__more {
  display: none;
}
@media (max-width: 991.98px) {
  .top-bar__more {
    display: block;
  }
}

.navbar {
  margin-left: 144px;
}
@media (max-width: 1199.98px) {
  .navbar {
    display: none;
    margin-left: 50px;
  }
}
.navbar__list {
  gap: 30px;
}
.navbar__link {
  display: flex;
  gap: 6px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
  /* 146.667% */
}
.navbar__arrow {
  margin-top: 4px;
}

.top-act {
  margin-left: auto;
  gap: 20px;
}
@media (max-width: 575.98px) {
  .top-act {
    margin-left: 0;
  }
}
.top-act__group {
  border-radius: 8px;
  background: var(--top-action-group-bg-color);
  min-width: 50px;
  height: 50px;
  box-shadow: 0px 20px 60px 10px var(--top-action-group-shadow-color);
}
@media (max-width: 767.98px) {
  .top-act__group {
    margin-left: 20px;
  }
}
@media (max-width: 575.98px) {
  .top-act__group {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .top-act__group--single {
    display: none;
  }
}
.top-act__group--single .top-act__btn {
  padding: 13px 13px;
  gap: 0;
}
.top-act__btn {
  gap: 10px;
  padding: 13px 20px;
  cursor: pointer;
}
.top-act__title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}
.top-act__separate {
  width: 1px;
  height: 30px;
  background: var(--top-action-group-seperate);
}
.top-act__avatar {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  gap: 14px;
}
@media (max-width: 991.98px) {
  .logo {
    gap: 10px;
  }
}
.logo__title {
  color: var(--text-color);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 145.455%;
}
@media (max-width: 991.98px) {
  .logo__title {
    font-size: 1.8rem;
  }
}
@media (max-width: 991.98px) {
  .logo__img {
    width: 24px;
    margin-left: 39px;
  }
}
@media (max-width: 575.98px) {
  .logo__img {
    margin-left: 0;
  }
}

/*# sourceMappingURL=main.css.map */
