@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(649%) hue-rotate(223deg) brightness(120%) contrast(100%);
    --header-bg-color: #171C28;
    --body-bg-color: #292E39;
    --top-action-group-bg-color: #292E39;
    --top-action-group-shadow-color: rgba(0, 0, 0, 0.20);
    --top-action-group-seperate: #EDEDF6;
}